<!DOCTYPE html>
 <html lang="es"> 
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>
        <meta name="description" content="Combook es una biblioteca virtual hecha por qaysen">
        <meta name="viewport" content="width=device-width">
		<link rel="stylesheet" href="/static/css/style.css">

        
    </head>
   
    <body>
    <h1 id='activento'> Activento. Tu mejor forma de ocupar el tiempo </h1>


  {% block content %}
  {% endblock %}


</body>
</html>