{% extends "base.html" %}

{% block title %}
Listar
{% endblock %}


{% block content %}
	<h1> Lista de usuarios y Categorias</h1>
	<h1> Probando el usuario {{usuario_activo}}</h1>
	

	<div>
		<h2> Lista de categorias </h2>
			<ul>
		{% for categoria in usuarios %}
			<li><b>Nombre:</b> {{categoria.nombre}} </li>
			<li><b>Descripcion: </b> {{categoria.descripcion}} </li>

		{% endfor %}
	</ul>


	</div>


	</div>


	<p> {{salida}}</p>


	<a href="user"> mandame a inicio</a>









	


{% endblock %}