{% extends "base.html" %}

{% block title %}
Activento
{% endblock %}


{% block content %}
	<h1>{{salida}}</h1>


	<h2> crear categorías </h2>
	<a href="crearCategoria"> Pincha aquí para crear categorias</a> </br>

	<h2> Listar Categorias </h2>
	<a href="listarCategorias"> Pincha aquí para listar Categorias</a> </br>

	<h2> Listar Usuarios </h2>
	<a href="listarUsuario"> Pincha aquí para listar Usuarios</a> </br>

	<h2> Siguiendo </h2>
	<a href="siguiendo"> Pincha aquí para listar Siguiendo</a> </br>

	</br>
	</br>

	<a href="../"> mandame a inicio</a>






	


{% endblock %}
